# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env

# Datasets (do NOT upload)
dataset/
dataset_*/
runs/
label_studio_export/

# Uploaded files
backend/uploads/

# OS files
.DS_Store
Thumbs.db
